body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.item__image img {


    max-width: 340px;
}

.item__image {

    margin-bottom: 16px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 16px;
    display: block;
}

.item__link {
    color: red;
    display: block;
    font-size: 20px;
}

.item__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}


