<!DOCTYPE html>
<html>
  <head>
    <title>Супер магазин</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Вітаємо у нашій бібліотеці. Ви зробили правильний виріб</h1>
    <a href="/libraries">Перейти до вибору продутків</a>
  </body>
</html>
