<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>
<body>
    <h1>Products List</h1>
    <hr>

    <div class="items">
        <% products.forEach(item => { %>
        <div class="item" style="border: 1px solid red;">
            <div class="item__title"><span>Title ----</span><%= item.title  %></div>
            <div class="item__price"style="color:red;"><span>Price ----</span><%= item.price  %></div>
            <div class="item__count"><span>Count ----</span><%= item.name  %></div>
        </div>
        <% }) %>
    </div>
    <hr>
    <a href="/addProduct"  >Add product</a>
    <br>
    <a href="/"  >home</a>
</body>
</html>