<!DOCTYPE html>
<html>
  <head>
    <title>Автопарк</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Тут має бути інформація про автопарк</h1>
    <a href="/">На головну</a>
   
  </body>
</html>
