<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= car.id ? 'Редагувати товар' : 'Додати товар' %></h1>
    <form enctype="multipart/form-data" action="<%= car.id ? '/cars/edit/' + car.id + '?_method=PUT' : '/cars/create' %>" method="post">
      <label>
       Марка машини
        <input type="text" name="title" />
      </label>
      <label>
        Рік випуску
        <input type="number" name="year" />
      </label>
      <label>
        Номера автомобіля
        <input type="text" name="carNumber" />
      </label>
      <label>
        Ціна автомобіля
        <input type="number" name="price" />
      </label>
      <label>
       Поилання на зображення
       <input type="file" name="carImg" />
      </label>
      <button type="submit"><%= car.id ? 'Оновити' : 'Додати' %></button>
    </form>
  </body>
</html>
