<!DOCTYPE html>
<html>
  <head>
    <title>Автопарк</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sections/header') %>

    <h1>Вітаємо у нашому автопарку. Ви зробили правильний виріб</h1>
    <ul>
        <li>
            <a href="/cars">Перейти до вибору продутків</a>
        </li>
        <li>
            <a href="/about.html">Про автопарк</a>
        </li>
    </ul>
  </body>
</html>
