<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <hr>
    <ul class="list">
        <li class="list__item">
            <a href="/courses" class="list__link">Усі курси</a>
        </li>
        <li class="list__item">
           
            <a href="/students" class="list__link">Усі студенти</a>
        </li>
        <li class="list__item">
            <a href="about.html" class="list__link">сторінка про нас</a>
        </li>
    </ul>
  </body>
</html>
