<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Links:</h1>
    <ul>
        <% for(let key in urls) { %>
            <li>
                <a href="<%= urls[key] %>"><%= key %></a>
            </li>
        <% } %>
    </ul>
  </body>
</html>
